body {
  background-color: #292525;
  color: #00b4cc;
}

.hidden {
  display: none;
  color: #00b4cc;
}

h1 {
  font-family: 'Teko', sans-serif;
  font-size: 70px;
  color: #00b4cc;
  text-align: center;
  padding: 10px;
}

h3 {
  color: #00b4cc;
  text-align: center;
  font-family: 'Teko', sans-serif;
  padding: 10px;
}

html {
  padding-top: 100px;
}

input {
  text-align: center;
  justify-content: center;
  align-items: center;
}

button {
  justify-content: center;
  align-items: center;
}
